:root {
  --header-background: #202024;
  --header-font-color: #bdbdbd;
  --yellow: #f2c94c;
  --body-background: linear-gradient(
    180deg,
    rgba(25, 109, 220, 0.7) 0%,
    #196ddc 100%
  );
  --form-background: linear-gradient(
    0deg,
    rgba(32, 32, 36, 0.6) 0%,
    rgba(32, 32, 36, 0.18) 100%
  );
  --button: linear-gradient(180deg, #25BE66 0%, #27AE60 100%);

    --background-form: #202024;
    --background-screen: #196DDC;
    --background-input: #E0E0E0;
    --button-information: #FE8832;
    --button-simulator: #27AE60;
    --dark-footer: #202024;
    --dark-navbar: #202024;
    --text-logo: #FFCC33;
    --text-input: #F2F2F2;
    --text-navbar: #BDBDBD;
    --text-footer: #BDBDBD;
    --thunder: #FFCC33;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--body-background);
}

/* Header */
header {
  width: 100%;
  height: 100px;
  background-color: var(--header-background);
}

header img {
  margin-top: 5px;
  margin-left: 150px;
}

header ul {
  list-style: none;
  text-transform: capitalize;
  display: flex;
  float: right;
  margin-top: 40px;
  margin-right: 150px;
}

header li a {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--header-font-color);
  margin-left: 20px;
  padding: 10px;
}

header a {
  text-decoration: none;
  cursor: pointer;
}
/* END | Header */

.container {
  max-width: 1360px;
  height: fit-content;
  margin: 0 auto;
}

/* background */

.Background-Thunder {
  display: flex;
  align-items: center;
}

.Background-Thunder img {
  position: absolute;
  z-index: -1;
  display: block;
  height: 90%;
  margin-left: 300px;
  margin-right: 150px;
  margin-top: 350px;
}
/* END | background */

/* Main Icons */
main img {
  position: absolute;
  float: left;
  cursor: pointer;
  top: 130px;
}

.github {
  top: 142px;
  left: 178px;
}
/* END | Main Icons */

/* Form */
.open-circuit {
  width: 520px;
  height: 400px;
  background: var(--form-background);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  margin-top: 150px;
  margin-left: 150px;
  float: left;
}

.open-circuit h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 25px;
}

/* Checkbox */
.measured {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-left: 25px;
}

group {
  display: flex;
}

.form {
  margin-top: 20px;
}

.form label {
  width: 300px;
  display: block;
  padding-left: 25px;
  padding-bottom: 10px;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--text-input);
}

.form input {
  width: 130px;
  height: 30px;
  margin-left: 25px;
  margin-right: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  outline-style: none;
  display: flex;
  flex-wrap: wrap;
  color: var(--background-input);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.shor-circuit {
  width: 520px;
  height: 400px;
  background: var(--form-background);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  margin-top: 150px;
  margin-right: 150px;
  float: right;
}

.shor-circuit h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 25px;
}

/* Button Simulator */
.btn button {
  width: 313px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: white;
  background: var(--button);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 520px;
  margin-bottom: 5px;
}
/* END | Form */

/* Footer */
footer {
  width: 100%;
  height: 65px;  
  background: var(--header-background);
}

footer h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-footer);
  padding-top: 10px;
  text-align: center;
}
/* END | Footer */
